.section {
    width: 100%;
    height: 100%;
    border: #383837;
    alignment: center;
}
.panel{
    background-color: white;
    margin-left: 18rem;
    margin-right: 2rem;
    margin-top: 2rem;
;
}
.title {
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.02em;

    /* Green */

    color: #383837;
    padding-top: 1rem;
    margin-left: 1rem;
}
.menu-options{
    margin: 1rem;
}
.row {
    align-items: center;
    margin: 0.5rem;
    height: 50%;
}
.col {
    display: flex;
    justify-content: center;
}
.card {
    margin: 0.5rem;
    text-align: center;
    width: 311px;
    height: 236px;display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(117, 158, 93, 0.5)!important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}
.figure {
    color: #383837;
    text-decoration: none;
    align-items: center;
    alignment: center;
}
.icon {
    padding-top: 0.25rem;
    font-size: 80px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}