.section {
    width: 100%;
    height: 100%;
    border: #383837;
}
.panel{
    background-color: white;
    margin-left: 18rem;
    margin-right: 2rem;
    margin-top: 2rem;
;
}
.col {
    align-content: start;
}
.hr {
    height: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
}