.form-group {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 50%;
}

.form-label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #37474F;
}

.form-control {
    font-style: normal;
    font-weight: normal;
    /* identical to box height */


    color: #AFB5BD;
}

.form-group {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 50%;
}

.confirm-button {
    background-color: rgba(118, 159, 94, 0.6) !important;
    border-color: rgba(118, 159, 94, 1) !important;;
    border-radius: 4px;
    display: table-row;
    justify-content: left;
    font-family: Segoe UI, Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4A4A4A!important;
}

.delete-button {
    border-radius: 4px;
    display: table-row;
    justify-content: left;
    font-family: Segoe UI, Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4A4A4A!important;
}