.body-cuadro {
    text-align: left;
    margin-left: 55px;

}

.header-cuadro {
    text-align: left;
    margin-bottom: 15px;
}

.header-text-cuadro {
    font-size: 25px;
    margin-top: 25px;
    margin-left: 25px;
}
