.cuadro {
    margin-top: 100px;
    margin-left: 330px;
    background-color:white;
    width: 83%;
    height: 800px;
    border-radius: 10px;
  }

  .body {
    text-align: left;
    margin-left: 55px;

  }
  
  .header{
    text-align: left;
    margin-bottom: 15px;
  }

  .header-text{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 25px;
  }
