body {
    text-align: center;
}


button:hover {
    background-color: #769E5F;
}

.error {
    color: tomato;
    margin-bottom: 10px;
    height: 8px;
    font-size: 13px;
}

.line {
    width: 30%;
}

.text {
    font-size: 15px;
    margin-top: 25px;
    font-style: normal;
}


.switch {

    width: 45px;
    height: 45px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

