.search {
    border-width: 2px;
    border-radius: 4px;
    border-color: #dce2eb;
}

.avatar {
    border-radius: 100%;
    height: 50px;
    width: 50px;

}

.line {
    color: #C6C6C6;
    height: 1px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-table {
    font-size: 14px;
    text-align: center;
    font-family: 'Segoe UI';
    color: #000000;
}

.column {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.13);
    align-content: center;
    white-space: nowrap;

}

.button {
    height: 30px;
    min-width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #769E5F;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    color: white;
    margin-top: 5px;
}


.pagination-button {
    margin-top: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

